{%extends 'base.html'%}
{%load static%}
{% block css_content %} 
<link rel="stylesheet" href="{%static 'styles/post.css'%}">
{% endblock %}
{%block body_content%}

<h4>Post Detail</h4>
{% if request.user == object.post_author %}
<a href="{%url 'post-update' object.id %}" class="btn btn-outline-primary">Update Post</a>
<a href="{%url 'post-delete' object.id %}" class="btn btn-outline-danger">Delete Post</a>
{% endif %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="/media/{{object.post_page.page_profile}}" alt="">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.post_page }}</a>
        <small class="text-muted">{{ object.created }}</small>
      </div>
      <h2><a class="article-title" href="{%url 'post-detail' object.id %}">{{ object.title }}</a></h2>
      {%if object.img%}
      <img src="/media/{{object.img}}" style="height: 400px; width: 50%;">
      {%endif%}
      <p class="article-content">{{ object.content }}</p>
    </div>
    <hr>
    {% if user.is_authenticated %}
    {% if object.pk in save_post_list %}
    <a href="{% url 'unsave' object.id %}" class="btn btn-danger">unsave</a>
    {% else %}
    <a href="{% url 'save' object.id %}" class="btn btn-outline-info">save</a>
    {% endif %}
    {% endif  %}
  </article>


{% endblock %}